<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Товар</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body >
<div th:insert="blocks/header"></div>
<div></div>
<!--<h1 style="color: white;text-align: center">Добро пожаловать в информационную систему Магазина одежды!!!</h1>-->
<form th:action="${'/main'}">
    <table>
        <tr><td>Название товара</td><td>Цена</td><td>Размер</td><td>Вид</td><td>Материал</td></tr>
        <tr th:each="el : ${products}">
            <td th:text="${el.productName}"/>
            <td th:text="${el.price}"/>
            <td>
                <from th:each="sz : ${el.getSize()}">
                    <p th:text="${sz.getSizeName()}"/>
                </from>
            </td>
            <td>
                <from th:each="prdtp : ${el.getProductType()}">
                    <p th:text="${prdtp.getTypeName()}"/>
                </from>
            </td>
            <td>
                <from th:each="mat : ${el.getMaterial()}">
                    <p th:text="${mat.getMaterialName()}"/>
                </from>
            </td>
        </tr>
    </table>

    <div th:insert="blocks/footer"></div>
</form>
</body>
</html>

