<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Добавление Поставщика</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert="blocks/header"></div>
<div class="col-lg-12 login-title">Добавление Поставщика</div>
<div class="col-lg-12 login-form">
    <form th:action="${'/supplier/add'}" th:object="${supplier}" method="post">
        <div class="col-lg-12 login-title">
            <div>
            <label style="margin-left: -15px" class="form-control-label">Название компании</label>
            <div style="margin-bottom: -15px"></div>
            <input type="text" th:field="*{companyName}" name="companyName" >
            <div style="color: red;font-size: 10px;margin-top: -20px" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></div>
                <div style="margin-bottom: -15px"></div>
            <label style="margin-left: -68px" class="form-control-label">Юр. Адрес</label>
            <div style="margin-bottom: -15px"></div>
            <input type="text" th:field="*{legalAddress}" name="legalAddress" >
            <div style="color: red;font-size: 10px;margin-top: -20px" th:if="${#fields.hasErrors('legalAddress')}" th:errors="*{legalAddress}"></div>
            </div>
        </div>
        <div class="center-divv">
            <button class="btn-outline-primary77" type="submit">Добавить</button>
        </div>
    </form>
</div>
<div th:insert="blocks/footer"></div>
<!--<div th:insert="blocks/header"></div>-->
<!--<form th:action="${'/supplier/add'}" th:object="${supplier}" method="post">-->
<!--    <input type="text" th:field="*{companyName}" name="companyName" placeholder="Название компании">-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></div>-->
<!--    <br>-->
<!--    <input type="text" th:field="*{legalAddress}" name="legalAddress" placeholder="Адрес компании">-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('legalAddress')}" th:errors="*{legalAddress}"></div>-->
<!--    <br>-->
<!--    <button type="submit">Добавить поставщика</button>-->
<!--</form>-->
</body>
</html>